.popup__container {
    padding-top: 34px;
    background-color: white;
    width: 430px;
    height: 330px;
    border-radius: 10px;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  
  @media screen and (max-width: 900px) {
    .popup__container {
      width: 282px;
      justify-self: center;
      grid-column: 1/2;
      grid-row: 1/2;
      margin-top: 123px;
    }
    
}