.popup__close {
    width: 45px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: end;

}

@media screen and (max-width: 900px) {
    .popup__close {
        margin-top: 87px;
        grid-row: 1/2;
        grid-column: 1/2;
        align-self: start;
        justify-self: end;
    }
}