.popup__close {
    width: 45px;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: end;
    margin: 0;

}

@media screen and (max-width: 490px) {
    .popup__close {
        margin-bottom: 16px;
        grid-column: 2/3;
        justify-self: end;
    }
}